<div class="container w-50">
    <h1>Welcome to the Quiz </h1>
    

    <p>this quiz contain 10 questions.Each question hold 10 points </p>
    <h5>Rules:</h5>
    <ol>
        <li>Each correct answer gives you 10 points</li>
        <li>Each correct answer gives you 10 points</li>
        <li>Each correct answer gives you 10 points</li>
        <li>Each correct answer gives you 10 points</li>
        <li>Try to answer all the questions</li>
    </ol>
    <h1 class="text-center">All the best</h1>
    
    
    <label>Before we start can we have your Name?</label>
    <input type="text" class="form-control w-50" placeholder="enter your full name">
    <!-- <input type="text" class="form-control w-50" placeholder="Email"> -->
    <button class="btn btn-primary mt-3" routerLink="/questions">Start The Quiz!!</button>
</div>
